/* Animations: ========================================================================================= */

.anim {

	// Type:
	color: white;

	.anim-section {
		overflow: hidden;
		padding: 1em 4em;

		@media screen and (max-width: 600px) {
			padding: .5em 1em;
			
			* {
				-webkit-animation-name: none;
				-moz-animation-name: none;
			}
		}
		
	}

	img {
		max-width: 100%;
	}

	h1 {
		margin: 0;//.15em 0;

		// Type:
		line-height: 1;
		font-family: 'Ubuntu Condensed', sans-serif;
		font-size: 46px;
		text-transform: uppercase;
		color: $link-color;

		span {
			padding-right: .25em;
			border-right: 1px solid rgba(white,.25);
			color: lighten($accent-color,15);
			text-shadow: none;
		}
	}

	h2 {
		color: #ccc;
		margin: .25em 0;
		font-weight: normal;
	}

	p {
		color: lighten($accent-color,35);
		font-size: 18px;
	}
}

/* Screen Images animation: */
$duration: 6s;
$repeat: infinite;
$timing: ease;
$delay: 0s;

.screens {
	overflow: auto;
	padding: 2em 1em;

	.screens-imgs {
		float: right;
		position: relative;
		overflow: hidden;
		width: 60%;
		height: 6em;

		@media screen and (max-width: 420px) { /* to fix the mobile size at first load: */
			height: 125px;
		}

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.screens-info {
		float: left;
		width: 40%;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.screen-desktop {
		position: absolute;

		-webkit-animation-name: SlideIn;
		-webkit-animation-duration: $duration;
		-webkit-animation-iteration-count: $repeat;
		-webkit-animation-timing-function: $timing;

		-moz-animation-name: SlideIn;
		-moz-animation-duration: $duration;
		-moz-animation-iteration-count: $repeat;
		-moz-animation-timing-function: $timing;

	}
	.screen-tablet {
		position: absolute;

		-webkit-animation-name: SlideIn;
		-webkit-animation-duration: $duration;
		-webkit-animation-iteration-count: $repeat;
		-webkit-animation-timing-function: $timing;

		-moz-animation-name: SlideIn;
		-moz-animation-duration: $duration;
		-moz-animation-iteration-count: $repeat;
		-moz-animation-timing-function: $timing;
	}
	.screen-mobile {
		position: absolute;

		-webkit-animation-name: SlideIn;
		-webkit-animation-duration: $duration;
		-webkit-animation-iteration-count: $repeat;
		-webkit-animation-timing-function: $timing;

		-moz-animation-name: SlideIn;
		-moz-animation-duration: $duration;
		-moz-animation-iteration-count: $repeat;
		-moz-animation-timing-function: $timing;
	}
	.screen-arrows {
		position: absolute;

		-webkit-animation-name: Point;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: $repeat;
		-webkit-animation-timing-function: $timing;
		-webkit-animation-direction: alternate;

		-moz-animation-name: Point;
		-moz-animation-duration: 1s;
		-moz-animation-iteration-count: $repeat;
		-moz-animation-timing-function: $timing;
		-moz-animation-direction: alternate;
	}
}

@-webkit-keyframes SlideIn { // webkit
	0% {
		opacity: 0;
		left: -100%;
		-webkit-transform: scaleX(2.5);
	}

	7% {
		opacity: 1;
		left: 0;
		-webkit-transform: scaleX(1);
	}

	9% {
		left: 10px;
	}

	13%, 95% {
		left: 0;
	}

	97% {
		left: -5%;
		opacity: 1;
		-webkit-transform: scaleX(1);
	}

	100% {
		left: 100%;
		opacity: 0;
		-webkit-transform: scaleX(2);
	}
}

@-moz-keyframes SlideIn { // firefox
	0% {
		opacity: 0;
		left: -100%;
		-moz-transform: scaleX(2.5);
	}

	7% {
		opacity: 1;
		left: 0;
		-moz-transform: scaleX(1);
	}

	9% {
		left: 10px;
	}

	13%, 95% {
		left: 0;
	}

	97% {
		left: -5%;
		opacity: 1;
		-moz-transform: scaleX(1);
	}

	100% {
		left: 100%;
		opacity: 0;
		-moz-transform: scaleX(2);
	}
}

@-webkit-keyframes Point { // webkit
	0% {
		opacity: 0.5;
		-webkit-transform: scaleX(0.95);
	}

	100% {
		opacity: 1;
		-webkit-transform: scaleX(1);
	}	
}

@-moz-keyframes Point { // firefox
	0% {
		opacity: 0.5;
		left: 5px;
	}

	100% {
		opacity: 1;
		left: 0;
	}	
}

/* Connect Dots animations: */
.connect {
	
	.connect-info {
		width: 60%;
		float: right;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.connect-imgs {
		float: left;
		position: relative;
		overflow: hidden;
		width: 40%;
		height: 7em;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.connect-dots {
		position: absolute;

		-webkit-animation-name: GrowIn;
		-webkit-animation-duration: 7s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-in;

		-moz-animation-name: GrowIn;
		-moz-animation-duration: 7s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: ease-in;
	}

	.connect-lines {
		position: absolute;

		-webkit-animation-name: ConnectFadeIn;
		-webkit-animation-duration: 7s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-delay:1.5s;
		-webkit-animation-direction: alternate;

		-moz-animation-name: ConnectFadeIn;
		-moz-animation-duration: 7s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: ease-in;
		-moz-animation-delay:1.5s;
		-moz-animation-direction: alternate;
	}

	.connect-bg {
		position: absolute;

		-webkit-animation-name: ConnectRotate;
		-webkit-animation-duration: 20s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;

		-moz-animation-name: ConnectRotate;
		-moz-animation-duration: 20s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
	}
}

@-webkit-keyframes GrowIn { // webkit
	0%,100% {
		-webkit-transform: scale(0.1);
		opacity: 0;
	}

	15%,95% {
		-webkit-transform: scale(1);
		opacity: 1;
		-webkit-animation-timing-function: ease-in;
	}
}

@-moz-keyframes GrowIn { // firefox
	0%,100% {
		-moz-transform: scale(0.1);
		opacity: 0;
	}

	15%,95% {
		-moz-transform: scale(1);
		opacity: 1;
		-moz-animation-timing-function: ease-in;
	}
}

@-webkit-keyframes ConnectFadeIn { // webkit
	0%,100% {
		opacity: 0;
	}

	10%,95% {
		opacity: 1;
	}
}

@-moz-keyframes ConnectFadeIn { // firefox
	0%,100% {
		opacity: 0;
	}

	10%,95% {
		opacity: 1;
	}
}

@-webkit-keyframes ConnectRotate { // webkit
	0% {
		-webkit-transform: rotate(360deg);
	}

	100% {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes ConnectRotate { // firefox
	0% {
		-moz-transform: rotate(360deg);
	}

	100% {
		-moz-transform: rotate(0deg);
	}
}

/* Engage animations: */
.engage {
	clear: both;
	
	.engage-info {
		float: left;
		width: 40%;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.engage-imgs {
		float: right;
		width: 60%;
		height: 6em;
		position: relative;
		overflow: hidden;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.engage-magnets {
		position: absolute;

		-webkit-animation-name: SpinIn;
		-webkit-animation-duration: .8s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-out;
		-webkit-animation-direction: alternate;

		-moz-animation-name: SpinIn;
		-moz-animation-duration: .8s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: ease-out;
		-moz-animation-direction: alternate;
	}

	.engage-bolts {
		position: absolute;

		-webkit-animation-name: Spark;
		-webkit-animation-duration: .7s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-in;

		-moz-animation-name: Spark;
		-moz-animation-duration: .7s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: ease-in;
	}

	.engage-people {
		position: absolute;

		-webkit-animation-name: GetPulled;
		-webkit-animation-duration: .8s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-out;
		-webkit-animation-direction: alternate;

		-moz-animation-name: GetPulled;
		-moz-animation-duration: .8s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: ease-out;
		-moz-animation-direction: alternate;
	}
}

@-webkit-keyframes SpinIn { // webkit
	0% {
		left: 10px;
	}

	100% {
		left: 0;
	}
}

@-moz-keyframes SpinIn { // firefox
	0% {
		left: 10px;
	}

	100% {
		left: 0;
	}
}

@-webkit-keyframes GetPulled { // webkit
	0% {
		opacity: 0.7;
		left: 15px;
		-webkit-transform: rotate(1deg);
	}

	100% {
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes GetPulled { // firefox
	0% {
		opacity: 0.7;
		left: 15px;
		-moz-transform: rotate(1deg);
	}

	100% {
		opacity: 1;
		left: 0;
		-moz-transform: rotate(0deg);
	}
}

@-webkit-keyframes Spark { // webkit
	0% {
		opacity: 0.7;
		-webkit-transform: scale(1);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1.01);
	}
}

@-moz-keyframes Spark { //firefox
	0% {
		opacity: 0.7;
		-moz-transform: scale(1);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1.01);
	}
}

// fade in on load:
@include keyframes(fadeInLoad) {
  0%   { opacity: 0; -webkit-transform: translateY(20px); -moz-transform: translateY(20px); }
  50% { opacity: 0;}
  100% { opacity: 1; -webkit-transform: translateY(0); -moz-transform: translateY(0);}
}