@import "wp";
@import "normalize";

// Variables:

	// colors: 
	$bg-color:#fffdf5;
	$header-color:white;
	$main-bg:white;
	$sidebar-bg:white;
	$home-main-bg: #333;
	$accent-color:#343838;
	$accent-color2: #FA6900;
	$link-color: #00B4CC; // BF4C40(red), 7D9D6C (green)


	// widths:
	$wrap-width: 95%;
	$gutter: 3%;
	$main-width: 70%;
	$sidebar-width: 26%;

	$home-gutter: 3%;

	// nav:
	$nav-height: 80px;

	// fonts:
	$fonts-headings: 'Ubuntu Condensed', sans-serif; //'Lusitana', Georgia, "Times New Roman", serif;
	$fonts-body: 'Lusitana', Georgia, "Times New Roman", serif;//'Buenard', serif;

// Functions:

// Mixins:
@mixin transition ($length,$anim,$type:all) {
	-webkit-transition: $type $length $anim;
	-moz-transition: $type $length $anim;
	-o-transition: $type $length $anim;
	transition: $type $length $anim;
}

@mixin border-radius ($tl:5px,$tr:5px,$br:5px,$bl:5px) {
	border-radius: $tl $tr $br $bl;
}

@mixin gradient ($top,$bottom) {
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top, $top, $bottom); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, $top, $bottom);

}

@mixin selection ($color,$bg) {
	::selection { color: $color; background: $bg}
	::-moz-selection { color: $color; background: $bg}
	::-webkit-selection { color: $color; background: $bg}
}

@mixin arrow-left ($bg,$border,$border-color) {
	a {
		float: right;
		position: relative;
		text-decoration: none;
		padding: 0 .5em;
		border-left: 5px solid $border-color;
		background: $bg;
		color: white;
		@include transition(.1s,ease,padding);

		&:before, &:after {
			content: "";
			position: absolute;
			top: 50%;
			width: 0;
			height: 0;
		}

		&:before {
			left: -12px;
			/* triangle: */
			border-top: $border solid transparent;
			border-bottom: $border solid transparent;
			border-right: $border solid $border-color;
	        /* Pull-up */
	        margin-top: -$border;
		}

		&:after {
			/* Smaller and different position triangle */
	        left: -5px;
	        border-top: ($border - 2px) solid transparent;
	        border-bottom: ($border - 2px) solid transparent;
	        border-right: ($border - 2px) solid $bg;
	        margin-top: -($border - 2px);
		}

		&:hover {
			background: lighten($bg,10);
			padding: 0 .75em;
			&:after {
				border-right-color: lighten($bg,10);
			}
		}
	}
}

@mixin arrow-top ($bg,$border,$border-color,$height) {
	&:before, &:after {
		content: "";
		position: relative;
		top: -$height;
		width: 0;
		height: 0;
	}

	&:before {
        left: 50%;
		/* triangle: */
		border-top: $border solid transparent;
		border-right: $border solid transparent;
		border-left: $border solid transparent;
		border-bottom: $border solid $border-color;
        /* Pull-up */
        margin-left: -$border;
	}

	&:after {
		/* Smaller and different position triangle */
        left: -50%;
        top: -($height - $border + 2px);
        border-top: ($border - 2px) solid transparent;
        border-right: ($border - 2px) solid transparent;
		border-left: ($border - 2px) solid transparent;
        border-bottom: ($border - 2px) solid $bg;
        margin-right: -($border - 2px);
	}
}

@mixin typo($size) {
	font-size: $size;
	line-height: 1.65em;
	margin: .25em 0;
}

@mixin sidebar-module {

	margin-top: 1em;
	// border-bottom: 1px dotted #ccc;

	&:first-child {
		margin-top: 0px;
		border-bottom: 0px none;
	}

	&:last-child {
		border-bottom: 0px none;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			a {
				// display: block;
				line-height: 1em;

				&:hover {
					text-decoration: underline;
				}
			}

			margin-bottom: .5em;
		}
	}
}

@mixin social-link {
	display: inline-block;
	padding-left: 30px;
	padding-right: 10px;
	border-bottom: 0px none;
	border-right: $accent-color;

	&:hover {
		border-bottom: 0px none;
	}
}

/* General styles: */
@include selection(white,#00B4CC);

a:focus {
	outline: 0;
}

body {
	scroll-y: auto;
	background: url(../../images/texture.png) $bg-color center center;

	// Type:
	font-family: $fonts-body;
	@include typo(16px);
}

* img {
	max-width: 100%;
}

hr {
	width: auto;
	height: 1px;
	border-top: 1px solid white;
	border-bottom: 1px solid black;
	opacity: .15;
}

a:link, a:visited {
	color: $link-color;
	text-decoration: none;
	@include transition(.25s,ease);
}

a:hover {
	color: darken($link-color,10);	
}

a.threedlink {
	color: #555;
	font-size: 2em;
	border-bottom: none;
	font-weight: bold;

	text-shadow: 3px 3px 0px rgba(#FF513D,.5), -3px -3px 0px rgba($link-color,.5);
	@include transition(.25s,ease);
	
	&:hover {
		color: #222;
		border-bottom: none;

		text-shadow: 0px 0px 0px rgba(#BF4C40,0), 0px 0px 0px rgba($link-color,0);
	}
}

h1, h2, h3 {
	//font-family: 'Cabin Condensed', sans-serif;
	//font-family: 'Boogaloo', cursive;
	font-family: $fonts-headings;
	line-height: 1em;
	letter-spacing: -.05em;
	margin: .5em 0;
}

h1 {
	a {
		text-decoration: none;
	}
}

h2 {
	// font-family: 'Ubuntu Condensed', Sans-Serif;
	color: #999;
}

blockquote {
	border-top: 2px solid lighten($link-color,40);
	border-bottom: 2px solid lighten($link-color,40);

	p {
		font-style: italic;
		color: lighten(black,20);
	}
}

section {
	overflow: auto;
}

article {
	overflow: auto;

	a {
		border-bottom: 1px dashed #ccc;

		&:hover {
			border-bottom: 1px solid $link-color;
		}
	}

	h1 a {border-bottom: 0 none;}


	p {
		text-indent: 1em;
	}
}

.logo {
	position: relative;
	display:block;
	float: left;
	width: 284px;
	height: 80px;
	margin-left: .5em;
	background: url(../../images/logo.png) left center no-repeat;

	&:active {
		top: 2px;
	}

	@media screen and (max-width: 650px) {
		float: none;
		margin: 0 auto;
		width: 166px;
		height: 35px;
		background: url(../../images/logo-sm.png) left center no-repeat;
	}
}

.page-wrap {
	width: $wrap-width;
	max-width: 1280px;
	overflow: hidden;
	margin: 0 auto;

	@media screen and (max-width: 720px) {
		width: auto;
	}
}

.breadcrumbs {
	// Type:
	font-family: arial, Helvetica, Sans-Serif;
	font-size: 11px;
	text-transform: uppercase;
	
	#main & {
		position: relative;
		display:inline-block;
		top: -1rem;
		left: -2.5%;
		padding: .5em 1em;
		background: #eaeaea;
		border-right: 1px solid lighten($accent-color, 60);
		border-bottom: 1px solid lighten($accent-color, 60);
		@include border-radius(0,0,.5em,0);
	}
}

/* Forms: */
input, textarea, select {
	display: block;
	background: white;
	padding: .25em;
	border: 2px solid lighten($accent-color,40);
	@include border-radius(4px,4px,4px,4px);

	// Type:
	font-family: $fonts-body;

	&:hover, &:focus {
		border-color: lighten($accent-color,20);
		outline: 0;
	}
}

#commentform {
	textarea {
		width: 95%;
	}
}

/* Search: */
.search {
	@include border-radius(1em,1em,1em,1em);
	border: 2px solid #ccc;
	padding: .25em .25em .25em 1em;
	overflow: hidden;

	.searchbox {
		float: left;
		border: 0 none;
		width: 85%;
		margin: 0;
		padding: 0;

		&:focus {
			outline:0;
		}
	}

	.searchbtn {
		float:right;
		width: 20px;
		margin: 0;
		padding: 0;
		background: url(../../images/search.png) center left no-repeat;
		border: 0 none;
		text-indent: -9999px;
	}
}

input[type=submit] {
	@include gradient(lighten($link-color,20),$link-color);
	background-color: $link-color;
	border-color: $link-color;
	box-shadow: inset 0px 0px 1px lighten($link-color,80);

	// Font:
	font-family: 'Ubuntu Condensed', sans-serif;
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px darken($link-color,10);

	&:hover {
		border-color: darken($link-color,10);
		@include gradient(lighten($link-color,10),$link-color);
		background-color: $link-color;
	}

	&:active {
		@include gradient($link-color, lighten($link-color,10));
		text-shadow: 0px -1px 0px darken($link-color,20);
		background-color: $link-color;
	}
}

/* Social Media: */
nav.social {
	float: right;
	line-height: $nav-height;
	ul {
		margin:0;
		padding:0;

		li {
			vertical-align: middle;
		}
	}
}

.twitter {
	@include social-link;
	background: url(../../images/twitter.png) left center no-repeat;
}

.linkedin {
	@include social-link;
	background: url(../../images/linkedin.png) left center no-repeat;
}

.contact-link {
	@include social-link;
	background: url(../../images/contact-link.png) left center no-repeat;
}

/* Header styles: */
header {
	display: block;
	z-index: 9999;

	nav.main {
		ul {
			margin: 0;
			padding: 0;
			height: $nav-height;
			overflow: hidden;
			float: right;

			@media screen and (max-width: 650px) {
				float: none;
			}
		}

		li {
			display: block;
			float: left;
			height: $nav-height;
			overflow: hidden;

			a {
				display: block;
				position: relative; //so I can change the position on :active state
				height: $nav-height;
				padding: 0 1em;
				overflow: hidden;

				// Type:
				font-family: 'Ubuntu Condensed', sans-serif;
				line-height: $nav-height;
				text-transform: uppercase;
				text-decoration: none;

				@media screen and (max-width: 675px) {
					padding: 0 .7em;
				}

				h5 {
					display: block;
					padding: 0;
					margin: 0;
					height: $nav-height;
					min-width: 45px;
					cursor: pointer;

					// Type:
					text-align: center;
					font-size: 20px;
					line-height: $nav-height;
					text-shadow: 0px -1px 0px rgba(white,.6);

					@media screen and (max-width: 675px) {
						font-size: 16px;
					}

					@include transition(.2s,ease);
				}

				&:active {
					top: 3px;
				}

				&:hover h5 {
					margin-top: -$nav-height;
					-webkit-transform: rotate(-90deg);
					-moz-transform: rotate(-90deg);
					-o-transform: rotate(-90deg);
					-ms-transform: rotate(-90deg);
					opacity: 0;
				}

				div {
					line-height: $nav-height;
					height: $nav-height;
					min-width: 45px;
					opacity: 0;
					//border-top: 5px solid white;

					//@include arrow-top(#ddd,9px,white,$nav-height);

					-webkit-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-o-transform: rotate(90deg);
					-ms-transform: rotate(90deg);
					@include transition(.3s,ease);					
				}

				&:hover div {
					opacity: 1;
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
				}
			}


			// *** these must be in the same order as the main navigation:
			&:nth-child(1) a div {
				background: url(../../images/icon-home.png) center center no-repeat;
			}

			&:nth-child(2) a div {
				background: url(../../images/icon-blog.png) center center no-repeat;
			}

			&:nth-child(3) a div {
				background: url(../../images/icon-work.png) center center no-repeat;
			}

			&:nth-child(4) a div {
				background: url(../../images/icon-contact.png) center center no-repeat;
			}
		}
	}

}

/* Main Content styles: */
#main {
	float: left;
	width: $main-width;
	padding: 1em ($gutter/2);
	margin-bottom: 1.5em;
	overflow: auto;
	background: $main-bg;
	@include border-radius(5px,5px,5px,5px);
	border: 1px solid lighten($accent-color, 60);

	article {
		margin-bottom: 2em;
		border-bottom: 2px dotted lighten($accent-color,60);

		&:last-child {border-bottom: none;}

		h2 {
			color: lighten($accent-color,10);
		}

		h3 {
			color: lighten($accent-color,20);
			text-transform: uppercase;
		}

		p {
			line-height: 1.65em;
			margin: 1em 0;

			&:first-of-type {
				font-size: 18px;
			}
		}

		&:hover .post-meta-wide {opacity:1;}

		.post-meta-wide {
			display: none;
			float: left;
			width: 130px;
			padding-right: 1em;
			margin-right: 1em;
			padding-top: 1em;
			font-family: $fonts-headings;
			text-align: right;
			opacity: .5;

			@media screen and (min-width: 1200px) {
				display: block;
			}

			.date {
				// Type:
				color: #aaa;
				font-size: 24px;
				font-weight: normal;
			}
		}

		.article-body {
			margin-left: 0;

			@media screen and (min-width: 1200px) {
				margin-left: 160px;
			}

			h2, h3 {
				margin: 1.5em 0;
			}

			p {
				word-break: hyphenate;
			}

			.moretag {
				display:block;
				float:right;
				margin-top: .5em;
				margin-bottom: 1em;
				padding-right: 1em;
				border: 1px solid lighten($accent-color, 60);
				border-radius: .3em;
				font-size: .8em;
				font-family: $fonts-headings;

				&:hover {
					border: 1px solid lighten($accent-color,40);

				}
			}
		}

		hgroup {
			overflow: auto;

			h1 {
				margin: .25em 0;
				a {
					color: $accent-color;
				}

				a.comments {
					background: url(../../images/comment.png) center center no-repeat;
					position: absolute;
					width: 30px;
					height: 30px;
					padding: 3px 0 0;
					margin-left: 15px;
					overflow: hidden;
					border-bottom: none;
					opacity: .8;

					&:hover {
						border-bottom: none;
						opacity: 1;
					}

					// Type:
					font-size: 16px;
					text-align: center;
					color: white;
					line-height: 25px;
				}
			}

			h2 {
				font-weight: normal;
				color: #999;
				line-height: 1.5em;
				font-size: 14px;

				@media screen and (min-width: 1200px) {
					display: none;
				}
			}

			@media screen and (min-width: 1200px) {
				margin-left: 10px;
			}
		}

		.post-meta-bottom {
			// Type:
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
		}
	}

	@media screen and (max-width: 720px) {
		float: none;
		width: auto;
	}
}

/* Sidebar styles: */
#sidebar {
	float: right;
	width: $sidebar-width - $gutter;
	padding: 1em ($gutter/2);
	margin-bottom: 1.5em;
	overflow: auto;
	background: $sidebar-bg;
	@include transition(.25s,ease);
	@include border-radius(5px,5px,5px,5px);
	border: 1px solid lighten($accent-color, 60);

	// Type:

	@media screen and (max-width: 720px) {
		float: none;
		width: auto;
	}

	
	h1 {
		padding: 0 0 0 0.25em;
		line-height: 2;
		// background-color: lighten(desaturate($link-color,90),10);
		// @include border-radius(5px,5px,5px,5px);
		border-bottom: 2px solid lighten($accent-color, 60);

		// Type:
		color: lighten($accent-color,30);
		font-size: 1.25em;

		// @include arrow-left(#333,9px,white); //styles any anchor tags in this nest for the arrow
	}

	h2 {
		// Type:
		font-style: normal;
		font-size: 1em;

		a {
			text-decoration: none;
		}
	}

	.sidebar-module {
		@include sidebar-module;
	}

	.widget_twitter {
		li {
			border-bottom: 1px dashed lighten($accent-color, 40);
			font-size: .9em;
			line-height: 1.5em;

			a {
				display: inline;
			}
		}
	}

	.blogroll {
		a {display: block;}
	}
}

/* Footer styles: */
footer {
	clear: both;
	background: url(../../images/texture-dark.png) $home-main-bg;
	border-top: 4px solid $link-color;

	.footer-content {
		padding: 1em;

		// Type:
		color: white;
		font-family: 'Ubuntu Condensed', sans-serif;

		nav {
			display: inline-block;
			float: left;
			padding: 0 2em;
			border-left: 1px solid $accent-color;
			&:first-child {border-left:0 none;}

			ul {
				margin: 0;
				padding: 0;

				li {

					a {
						display: block;
						padding-top: .25em;
						padding-bottom: .25em;

						// Type:
						font-family: 'Ubuntu Condensed', sans-serif;
					}
				}
			}
		}

		.disclaimer {
			clear: both;
			margin: .5em 0;

			p {
				font-size: 12px;
				margin: .25em 0;
				color: #eee;
			}
		}
	}
}

.featured {
	overflow: auto;
	color: $bg-color;
	
	background: url(../../images/texture-dark.png) $home-main-bg;
	
	border-top: 4px solid $link-color;
	border-bottom: 4px solid $link-color;
	margin-bottom: 1em;

	@media screen and (max-width: 720px) {
		.page-wrap {
			padding: 0 1em;
		}
	}
}

/* Home Content styles: */
.home-intro {
	padding: 1em ($home-gutter/2);
	overflow: hidden;

	/* Type; */
	font-family: 'Ubuntu Condensed', sans-serif;

	h1 {
		margin: .25em 0;

		// Type:
		text-transform: uppercase;			
	}

	h2 {
		margin: .25em 0;
		color: lighten($accent-color,20);
	}

}

.home-featured {
	border: 1px solid rgba(white,.1);
	// @include border-radius(1em,1em,1em,1em);
	// background: white;
	overflow: auto;
	padding: 1em 0;

	input, textarea {
		width: 95%;
		margin: 1em 0;
	}

	> article {
		float: left;
		width: 33% - $home-gutter;
		padding: 5em ($home-gutter/2) 0 ($home-gutter/2);

		h1 {
			text-align: center;
			margin: .5em 0;
			text-transform: uppercase;
			font-family: 'Ubuntu Condensed', Sans-Serif;
		}

		@media screen and (max-width: 780px) {
			float: none;
			width: auto;
		}

		hgroup {
			h1 {
				font-size: 1.5em;
				text-transform: none;
				text-shadow: none;
				text-align: left;

				font-family: $fonts-headings;

				a {
					color: $accent-color;
				}
			}

			h2 {
				font-size: 1em;
				font-style: none;
			}
		}

		article {
			margin-top: 1em;
		}
	}

	.blog-preview {
		background: url(../../images/preview-bg-blog.png) center top no-repeat;
	}

	.work-preview {
		background: url(../../images/preview-bg-work.png) center top no-repeat;
		text-align: center;
	}

	.contact-preview {
		background: url(../../images/preview-bg-contact.png) center top no-repeat;
	}

	.work-thumb {
		margin: 1em 0;
		opacity: 0.8;

		@include transition(.2s,ease);
		border-bottom: 0 none;

		&:hover {
			opacity: 1;
		}
	}

}

/* Gallery: */

.gallery {
	padding: 0 .5em;
}

.gallery-item {
	padding: 1em 45px;

	@media screen and (max-width: 720px)  {
		padding: 1em .5em;
	}
	
	.gallery-info {
		float: right;
		width: 45%;
		padding: 0 2.4%;
		border-left: 1px solid #aaa;

		@media screen and (max-width: 720px) {
			float: none;
			width: auto;
			border-left: none;
		}

		div {
			// float: left;
			// width: 31%;
			// padding: 0 1%;

			@media screen and (max-width: 720px) {
				float: none;
				width: auto;
			}
		}
	}

	.gallery-media {
		float: left;
		width: 45%;
		padding: 0 2.4%;

		@media screen and (max-width: 720px) {
			float: none;
			width: auto;
		}

		a {
			opacity: 0.85;

			@media screen and (max-width: 720px) {
				opacity: 1;
			}

			@include transition(.5s,ease);

			&:hover {
				opacity: 1;
			}
		}
	}
}

/* Animations: ========================================================================================= */

.anim {

	// Type:
	color: white;

	.anim-section {
		overflow: hidden;
		padding: 1em 4em;

		@media screen and (max-width: 600px) {
			padding: .5em 1em;
			
			* {
				-webkit-animation-name: none;
				-moz-animation-name: none;
			}
		}
		
	}

	img {
		max-width: 100%;
	}

	h1 {
		margin: 0;//.15em 0;

		// Type:
		line-height: 1;
		font-family: 'Ubuntu Condensed', sans-serif;
		font-size: 46px;
		text-transform: uppercase;
		color: $link-color;

		span {
			padding-right: .25em;
			border-right: 1px solid rgba(white,.25);
			color: lighten($accent-color,15);
			text-shadow: none;
		}
	}

	h2 {
		color: #ccc;
		margin: .25em 0;
		font-weight: normal;
	}

	p {
		color: lighten($accent-color,35);
		font-size: 18px;
	}
}

/* Screen Images animation: */
$duration: 6s;
$repeat: infinite;
$timing: ease;
$delay: 0s;

.screens {
	overflow: auto;
	padding: 2em 1em;

	.screens-imgs {
		float: right;
		position: relative;
		overflow: hidden;
		width: 60%;
		height: 6em;

		@media screen and (max-width: 420px) { /* to fix the mobile size at first load: */
			height: 125px;
		}

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.screens-info {
		float: left;
		width: 40%;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.screen-desktop {
		position: absolute;

		-webkit-animation-name: SlideIn;
		-webkit-animation-duration: $duration;
		-webkit-animation-iteration-count: $repeat;
		-webkit-animation-timing-function: $timing;

		-moz-animation-name: SlideIn;
		-moz-animation-duration: $duration;
		-moz-animation-iteration-count: $repeat;
		-moz-animation-timing-function: $timing;

	}
	.screen-tablet {
		position: absolute;

		-webkit-animation-name: SlideIn;
		-webkit-animation-duration: $duration;
		-webkit-animation-iteration-count: $repeat;
		-webkit-animation-timing-function: $timing;

		-moz-animation-name: SlideIn;
		-moz-animation-duration: $duration;
		-moz-animation-iteration-count: $repeat;
		-moz-animation-timing-function: $timing;
	}
	.screen-mobile {
		position: absolute;

		-webkit-animation-name: SlideIn;
		-webkit-animation-duration: $duration;
		-webkit-animation-iteration-count: $repeat;
		-webkit-animation-timing-function: $timing;

		-moz-animation-name: SlideIn;
		-moz-animation-duration: $duration;
		-moz-animation-iteration-count: $repeat;
		-moz-animation-timing-function: $timing;
	}
	.screen-arrows {
		position: absolute;

		-webkit-animation-name: Point;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: $repeat;
		-webkit-animation-timing-function: $timing;
		-webkit-animation-direction: alternate;

		-moz-animation-name: Point;
		-moz-animation-duration: 1s;
		-moz-animation-iteration-count: $repeat;
		-moz-animation-timing-function: $timing;
		-moz-animation-direction: alternate;
	}
}

@-webkit-keyframes SlideIn { // webkit
	0% {
		opacity: 0;
		left: -100%;
		-webkit-transform: scaleX(2.5);
	}

	7% {
		opacity: 1;
		left: 0;
		-webkit-transform: scaleX(1);
	}

	9% {
		left: 10px;
	}

	13%, 95% {
		left: 0;
	}

	97% {
		left: -5%;
		opacity: 1;
		-webkit-transform: scaleX(1);
	}

	100% {
		left: 100%;
		opacity: 0;
		-webkit-transform: scaleX(2);
	}
}

@-moz-keyframes SlideIn { // firefox
	0% {
		opacity: 0;
		left: -100%;
		-moz-transform: scaleX(2.5);
	}

	7% {
		opacity: 1;
		left: 0;
		-moz-transform: scaleX(1);
	}

	9% {
		left: 10px;
	}

	13%, 95% {
		left: 0;
	}

	97% {
		left: -5%;
		opacity: 1;
		-moz-transform: scaleX(1);
	}

	100% {
		left: 100%;
		opacity: 0;
		-moz-transform: scaleX(2);
	}
}

@-webkit-keyframes Point { // webkit
	0% {
		opacity: 0.5;
		-webkit-transform: scaleX(0.95);
	}

	100% {
		opacity: 1;
		-webkit-transform: scaleX(1);
	}	
}

@-moz-keyframes Point { // firefox
	0% {
		opacity: 0.5;
		left: 5px;
	}

	100% {
		opacity: 1;
		left: 0;
	}	
}

/* Connect Dots animations: */
.connect {
	
	.connect-info {
		width: 60%;
		float: right;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.connect-imgs {
		float: left;
		position: relative;
		overflow: hidden;
		width: 40%;
		height: 7em;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.connect-dots {
		position: absolute;

		-webkit-animation-name: GrowIn;
		-webkit-animation-duration: 7s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-in;

		-moz-animation-name: GrowIn;
		-moz-animation-duration: 7s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: ease-in;
	}

	.connect-lines {
		position: absolute;

		-webkit-animation-name: ConnectFadeIn;
		-webkit-animation-duration: 7s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-delay:1.5s;
		-webkit-animation-direction: alternate;

		-moz-animation-name: ConnectFadeIn;
		-moz-animation-duration: 7s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: ease-in;
		-moz-animation-delay:1.5s;
		-moz-animation-direction: alternate;
	}

	.connect-bg {
		position: absolute;

		-webkit-animation-name: ConnectRotate;
		-webkit-animation-duration: 20s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;

		-moz-animation-name: ConnectRotate;
		-moz-animation-duration: 20s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
	}
}

@-webkit-keyframes GrowIn { // webkit
	0%,100% {
		-webkit-transform: scale(0.1);
		opacity: 0;
	}

	15%,95% {
		-webkit-transform: scale(1);
		opacity: 1;
		-webkit-animation-timing-function: ease-in;
	}
}

@-moz-keyframes GrowIn { // firefox
	0%,100% {
		-moz-transform: scale(0.1);
		opacity: 0;
	}

	15%,95% {
		-moz-transform: scale(1);
		opacity: 1;
		-moz-animation-timing-function: ease-in;
	}
}

@-webkit-keyframes ConnectFadeIn { // webkit
	0%,100% {
		opacity: 0;
	}

	10%,95% {
		opacity: 1;
	}
}

@-moz-keyframes ConnectFadeIn { // firefox
	0%,100% {
		opacity: 0;
	}

	10%,95% {
		opacity: 1;
	}
}

@-webkit-keyframes ConnectRotate { // webkit
	0% {
		-webkit-transform: rotate(360deg);
	}

	100% {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes ConnectRotate { // firefox
	0% {
		-moz-transform: rotate(360deg);
	}

	100% {
		-moz-transform: rotate(0deg);
	}
}

/* Engage animations: */
.engage {
	clear: both;
	
	.engage-info {
		float: left;
		width: 40%;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.engage-imgs {
		float: right;
		width: 60%;
		height: 6em;
		position: relative;
		overflow: hidden;

		@media screen and (max-width: 600px) {
			float: none;
			width: 100%;
		}
	}

	.engage-magnets {
		position: absolute;

		-webkit-animation-name: SpinIn;
		-webkit-animation-duration: .8s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-out;
		-webkit-animation-direction: alternate;

		-moz-animation-name: SpinIn;
		-moz-animation-duration: .8s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: ease-out;
		-moz-animation-direction: alternate;
	}

	.engage-bolts {
		position: absolute;

		-webkit-animation-name: Spark;
		-webkit-animation-duration: .7s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-in;

		-moz-animation-name: Spark;
		-moz-animation-duration: .7s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: ease-in;
	}

	.engage-people {
		position: absolute;

		-webkit-animation-name: GetPulled;
		-webkit-animation-duration: .8s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-out;
		-webkit-animation-direction: alternate;

		-moz-animation-name: GetPulled;
		-moz-animation-duration: .8s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: ease-out;
		-moz-animation-direction: alternate;
	}
}

@-webkit-keyframes SpinIn { // webkit
	0% {
		left: 10px;
	}

	100% {
		left: 0;
	}
}

@-moz-keyframes SpinIn { // firefox
	0% {
		left: 10px;
	}

	100% {
		left: 0;
	}
}

@-webkit-keyframes GetPulled { // webkit
	0% {
		opacity: 0.7;
		left: 15px;
		-webkit-transform: rotate(1deg);
	}

	100% {
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes GetPulled { // firefox
	0% {
		opacity: 0.7;
		left: 15px;
		-moz-transform: rotate(1deg);
	}

	100% {
		opacity: 1;
		left: 0;
		-moz-transform: rotate(0deg);
	}
}

@-webkit-keyframes Spark { // webkit
	0% {
		opacity: 0.7;
		-webkit-transform: scale(1);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1.01);
	}
}

@-moz-keyframes Spark { //firefox
	0% {
		opacity: 0.7;
		-moz-transform: scale(1);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1.01);
	}
}